.aboutMe{
	width: 30%;
	height: 100%;
	background-color: ;
	float: left;
}
.content{
	width: 70%;
	height: 100%;
	background-color: white;
	float: left;
}
.dominant{
	width: 100%;
}
img{
	width: 100%;
}
.bar{
	width: 150px;
	height: 17px;
	background-color: black;
}

p, h1 {
font-family: "Comic Sans MS", "Comic Sans", cursive;
}