.aboutMe{
	width: 30%;
	height: 100%;
	background-color: pink;
	float: left;
}
.content{
	width: 70%;
	height: 100%;
	background-color: lightblue;
	float: left;
}
.dominant{
	width: 100%;
}
img{
	width: 100%;
	height: 75%;
}
.bar1{
	width: 350px;
	height: 17px;
	background-color: black;
}

p, h1, h2, h3 {
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.bar2{
	width: 100%;
	height: 1000px;
	background-color: lightblue;
}
.bar3{
	width: 100%;
	height: 1000px;
	background-color: pink;
}